<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/introcss.css">
   
    <title>이승환</title>

   
   
</head>


<body>
    <div class="wrap">

    <div class="vid">
    
    <video id="indexvid" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="/video/2.mp4" type="video/mp4">
   </video></div>

      
    <div class="lmenu">
        <div class ="audio"> 
            <audio controls autoplay id="bgm">
                <source src="./music/meaningless.mp3">
              </audio></div>
        <div class="header_text">
        Please click the "⏯" button<br>to play/pause the music.<br><br></div> 
        <ul class="header_text">
            <li></li>
            <li></li>
            ⬇️ ⬇️ ⬇️ ⬇️ ⬇️ ⬇️ ⬇️
            <li><a href="./index.html">Home👐🏻</a></li> 
            <li><a href="./aboutme.html">About Me</a></li>
            <li><a href="./whatdoilike.html">What do I like..?</a></li>
            ⬆️ ⬆️ ⬆️ ⬆️ ⬆️ ⬆️ ⬆️<br><br><br><br><br><br><br>멋쟁이사자처럼 9기<br>"이승환"
          </ul>
    </div>
    
    <script>
        var audio = document.getElementById("bgm");
        audio.volume = 0.25;
      </script>
    

    
</div>

</body>


</html>