<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/introcss.css">
   
    <title>이승환</title>

   
   
</head>


<body>
    <div class="wrap">

    <div class="vid">
    
    <video id="aboutmevid" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
        <source src="/video/car2.mp4" type="video/mp4">
   </video></div>

      
    <div class="lmenu">
        <div class ="audio"> 
            <audio controls autoplay id="bgm">
                <source src="/music/thornapple.mp3">
              </audio></div>
        <div class="header_text">
        Please click the "⏯" button<br>to play/pause the music.<br><br></div> 
        <ul class="header_text">
            <li></li>
            <li></li>
            ⬇️ ⬇️ ⬇️ ⬇️ ⬇️ ⬇️ ⬇️
            <li><a href="/index.html">Home</a></li>
            <li><a href="/aboutme.html">About Me</a></li>
            <li><a href="/whatdoilike.html">What do I like..?👐🏻</a></li>
            ⬆️ ⬆️ ⬆️ ⬆️ ⬆️ ⬆️ ⬆️<br><br><br><br><br><br><br>멋쟁이사자처럼 9기<br>"이승환"
          </ul>
    </div>

    <div class="maintextspace">
        <div class="whatdoilike_maintext">
            저는 밤을 굉장히 좋아합니다!<br>지금은 코시국이라 어렵지만 그 전에는 보통 밤에 많이 나가곤 했어요 ㅎㅎ...<br>요즘 소소한 취미는 아무나 불러서 밤에 바닷가에 다녀오는거에여!<br>생각도 정리되고 기분도 좋아지더라고요😎<br><br>
            그리고 원래 롤이랑 애니보는걸 디게 좋아했는데<br>제 자신을 주체할수가 없어서 최대한 줄이고<br>요즘은 노래듣거나 기타연습에 소소한 시간을 쓰고있답니다 ✌🏻  
        </div>
    </div>

    </div>
    

    <script>
        var audio = document.getElementById("bgm");
        audio.volume = 0.25;
      </script>

    
</div>

</body>


</html>